body {
  margin: 0px;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131319;
  font-family: "Arial", sans-serif;
  z-index: 2;
}

.main-page {
  height: 100vh;
}

.login-container {
  position: relative;
  background-color: #27272d;
  padding: 1rem;
  text-align: center;
  color: white;
  width: 463px;
  height: 420px;
  border: 2px solid transparent;
  border-radius: 8px;
}

.sign-up-container {
  height: 506px !important;
}

.login-container::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(129.59deg, #969696 0%, #343434 98.18%);
  content: "";
  z-index: -1;
  border-radius: 10px;
}

.modal-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 32px 0px 40px 0px;
}

.welcome-back-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: 0.03em;
  color: #6b6c70;
  margin: 0;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  margin: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  color: #c5c7ca;
}

.input-field {
  padding: 16px 16px 16px 8px;
  background-color: #27272d;
  border: 1.5px solid #35373b;
  border-radius: 4px;
  color: #c5c7ca;
}

.input-field::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.password-container {
  position: relative;
  display: flex;
}

.password-field {
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #6b6c70;
  outline: none;
}
.login-button {
  background: #4a96ff;
  border-radius: 4px;
  border: none;
  padding: 12px 0;
  color: white;
  font-size: 16px;
  line-height: 19.36px;
  cursor: pointer;
  font-weight: 500;
  line-height: 19.36px;
}

.not-registered {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: #7f8084;
  text-align: left;
}

.register {
  display: flex;
  color: #c5c7c9;
  margin-left: 4px;
  gap: 8px;
  align-items: center;
}

.not-logged-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 53px;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 40px 0px;
}

.header-text {
  font-size: 28px;
  font-weight: 500;
  line-height: 33.89px;
  text-align: left;
  color: #c5c7ca;
}

.sub-text {
  width: 580px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #7f8084;
}

.create-post-container {
  display: flex;
  flex-direction: column;
  background-color: #27272d;
  border-radius: 8px;
  width: 700px;
  height: 223px;
  border: 2px solid #35373b;
  box-sizing: border-box;
  padding: 1rem;
  gap: 16px;
  margin-top: 8px;
  cursor: pointer;
}

.post-container {
  height: 250px !important;
}

.create-post-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
  color: #c5c7ca;
}

.input-container-post {
  display: flex;
  border-radius: 8px;
  border: 2px solid #35373b;
  padding: 1rem;
  gap: 1rem;
  background: #191920;
}

.message-logo-container {
  background: #27292d;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.input-field-post {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  background: #191920;
  border: none;
  flex: 1;
  color: #7f8084;
  resize: none;
  cursor: pointer;
}

.input-field-post:disabled {
  pointer-events: none;
}

.input-field-post::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.post-button {
  background: #4a96ff;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 19.36px;
  cursor: pointer;
  font-weight: 500;
  line-height: 19.36px;
  width: 111px;
  height: 43px;
  align-self: flex-end;
  margin-top: 4px;
}

.post-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.post-title > img {
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.comments-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.username {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  color: #c5c7ca;
}

.last-seen {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  color: #7f8084;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-out, visibility 300ms ease-out;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #27272d;
  border-radius: 8px;
  max-width: 100%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.modal.show {
  opacity: 1;
  transform: scale(1);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  background: #131319;
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.pointer {
  cursor: pointer;
}
